<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" id='admin-listings-action'>
  <%= button_to "Create New Listing", new_admin_outlet_listing_path(@outlet), method: :get %>
</div>

<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" id='admin-listings'>
  <% @listings.each do |listing| %>
        <div class='listings-index'>
          <%= link_to edit_admin_listing_path(listing) do %>
            <h5 class='listings-item-name'><%= listing.item_name%></h5>
          <% end %>
          <%= listing.description %>
          <div class='add-listing-details'>
              <div class='col-md-4 col-sm-4 col-xs-4'>
                <center>
                  <%=link_to "Add Booking Item", new_admin_listing_booking_item_path(listing) %>
                </center>
              </div>
              <div class='col-md-4 col-sm-4 col-xs-4'>
                <center>
                  <%=link_to "Add Purchase Item", new_admin_listing_purchase_item_path(listing) %>
                </center>
              </div>
              <div class='col-md-4 col-sm-4 col-xs-4'>
                <center>
                  <%=link_to "Add Subscribe Item", new_admin_listing_subscribe_item_path(listing) %>
                </center>
              </div>
          </div>
        </div>
  <% end %>
</div>
